<template>
  <div ref="layer" class="home-animation-bg">
    <svg
      id="shape-2"
      viewBox="0 0 888 474"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M240.565 473.037C421.045 462.207 489.286 463.037 669.766 452.157C975.355 433.797 952.516 -17.1525 647.355 1.14748C466.895 11.9775 398.655 11.1975 218.175 22.0375C-87.4345 40.3675 -64.6445 491.337 240.565 473.037Z"
        fill="#FCEEF4"
      />
    </svg>
    <svg
      id="shape-1"
      viewBox="0 0 819 449"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M204.456 436.628C370.956 439.418 433.536 445.177 600.036 447.967C881.976 452.688 895.736 16.1375 614.236 11.4075C447.726 8.62752 385.156 2.86752 218.656 0.0375184C-63.2844 -4.65248 -77.0744 431.918 204.456 436.628Z"
        fill="#FADDEA"
      />
    </svg>
    <svg
      id="shape-3"
      viewBox="0 0 66 66"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M33.1156 65.8975C28.6529 65.9389 24.2213 65.1523 20.0456 63.5775C16.0791 62.0799 12.4909 59.7275 9.53556 56.6875C6.66857 53.6883 4.42525 50.1499 2.93556 46.2775C-0.167648 37.8714 -0.167648 28.6336 2.93556 20.2275C4.4234 16.3537 6.68237 12.8223 9.57556 9.84748C12.5371 6.85332 16.1078 4.53085 20.0456 3.03748C24.2216 1.46359 28.653 0.676974 33.1156 0.717475C37.5563 0.676265 41.9655 1.46655 46.1156 3.04749C50.025 4.53455 53.5753 6.83248 56.533 9.79011C59.4906 12.7477 61.7885 16.298 63.2756 20.2075C66.3788 28.6136 66.3788 37.8514 63.2756 46.2575C61.7686 50.1588 59.4859 53.7138 56.5656 56.7075C53.6043 59.707 50.0387 62.042 46.1056 63.5575C41.9595 65.1411 37.5536 65.9347 33.1156 65.8975ZM33.1156 22.5575C29.7156 22.5575 27.1156 23.4875 25.2556 25.3975C24.2778 26.4467 23.5228 27.6834 23.0364 29.0326C22.55 30.3818 22.3422 31.8157 22.4256 33.2475C22.3452 34.6966 22.557 36.1472 23.0483 37.5129C23.5396 38.8786 24.3005 40.1316 25.2856 41.1975C27.1956 43.1975 29.6856 44.0775 33.1156 44.0775C37.4356 44.0775 40.4556 43.1575 42.1156 41.3575C43.9156 39.3575 44.7956 36.6975 44.7956 33.2475C44.7956 29.7975 43.8856 27.2475 42.0256 25.3275C40.1656 23.4075 37.1856 22.5575 33.1156 22.5575Z"
        fill="#FFC124"
      />
    </svg>
    <svg
      id="shape-4"
      viewBox="0 0 74 80"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M36.97 79.6503C34.7557 79.6672 32.5879 79.0155 30.75 77.7803C28.5261 76.2292 26.9943 73.8724 26.48 71.2103V71.1503C25.73 67.7903 25.07 63.8203 24.48 59.3603C24.13 56.5903 23.86 53.7203 23.65 50.8003H11.05C9.47358 50.8607 7.90399 50.5627 6.4594 49.9287C5.0148 49.2948 3.73284 48.3414 2.71001 47.1403C0.971504 45.1238 0.0104274 42.5527 0 39.8903C0.00862378 37.284 0.912398 34.7598 2.56 32.7403C3.56296 31.5067 4.84015 30.5244 6.28981 29.8716C7.73947 29.2189 9.32155 28.9136 10.91 28.9803H23.31C23.41 26.1103 23.59 23.3003 23.84 20.5903C24.1956 16.4892 24.8439 12.4189 25.78 8.41029C26.2991 5.76071 27.8263 3.41605 30.04 1.87029C31.882 0.63601 34.0528 -0.0155622 36.27 0.000282251C39.2284 0.0174653 42.0671 1.17016 44.2 3.22028C45.5385 4.48626 46.5107 6.08992 47.014 7.8622C47.5174 9.63448 47.5333 11.5097 47.06 13.2903V13.4603C46.3452 16.4942 45.877 19.5809 45.66 22.6903C45.5 24.6903 45.36 26.8203 45.26 28.9803H62.34C63.9139 28.9209 65.4808 29.2185 66.9233 29.8506C68.3659 30.4827 69.6468 31.433 70.67 32.6303C72.4092 34.6503 73.3702 37.2248 73.38 39.8903C73.3742 42.4954 72.474 45.0195 70.83 47.0403C69.826 48.2752 68.5472 49.2584 67.0957 49.9112C65.6442 50.5641 64.0601 50.8685 62.47 50.8003H45.53C45.69 52.8803 45.88 54.8903 46.1 56.8003C46.4408 59.9515 46.9818 63.0778 47.72 66.1603V66.3303C48.2128 68.1174 48.2107 70.0048 47.714 71.7907C47.2173 73.5767 46.2447 75.1942 44.9 76.4703C42.7609 78.5058 39.9228 79.6439 36.97 79.6503Z"
        fill="#FFC124"
      />
    </svg>
    <svg
      id="shape-5"
      viewBox="0 0 34 46"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.5198 23.1413L3.63848 35.3552C2.51536 36.2912 1.81341 37.3675 1.53263 38.5842C1.34544 39.7073 1.43904 40.7837 1.81341 41.8132C2.28138 42.8427 2.98333 43.7319 3.91926 44.4806C4.94879 45.1358 6.02511 45.4633 7.14823 45.4633C8.45854 45.4633 9.62845 44.9954 10.658 44.0594L31.1549 27.353C32.746 26.0427 33.4948 24.5452 33.4012 22.8605C33.4012 21.1759 32.6056 19.7252 31.0145 18.5084L9.39447 2.08282C8.27135 1.24048 7.14823 0.819307 6.02511 0.819307C4.90199 0.819307 3.82567 1.19368 2.79614 1.94243C1.86021 2.59758 1.15826 3.48672 0.690289 4.60984C0.315916 5.63936 0.222322 6.76248 0.409509 7.9792C0.690289 9.10232 1.43904 10.1318 2.65575 11.0678L18.5198 23.1413Z"
        fill="#FFC124"
      />
    </svg>

    <div
      class="star-container-mask"
      :style="{
        maskImage: `url(${require('/public/images/masks/main-mask.svg')})`,
      }"
    >
      <div
        ref="alfaShape"
        id="shape-alfa"
        class="star-container"
        :style="{
          maskImage: `url(${require('/public/images/masks/alfa-mask.svg')})`,
        }"
        @click="playStarAnimation"
        @mouseover="toggleLoopAnimation"
        @mouseleave="toggleLoopAnimation"
      >
        <video autoplay muted loop src="./assets/video_1.mp4"></video>
      </div>
      <div
        ref="betaShape"
        class="star-container"
        id="shape-beta"
        :style="{
          maskImage: `url(${require('/public/images/masks/beta-mask.svg')})`,
        }"
        @click="playStarAnimation"
      >
        <video autoplay muted loop src="./assets/video_1.mp4"></video>
      </div>
      <div
        ref="gammaShape"
        class="star-container"
        id="shape-gamma"
        :style="{
          maskImage: `url(${require('/public/images/masks/gamma-mask.svg')})`,
        }"
        @click="playStarAnimation"
      >
        <video autoplay muted loop src="./assets/video_1.mp4"></video>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onBeforeUnmount,
  onMounted,
  onUnmounted,
  ref,
} from "vue";
import {
  charAnimation,
  gammaAnimation,
  starAnimation,
  useShapeBounceAnimation,
  useShapeRotateAnimation,
} from "./animations";

export default defineComponent({
  name: "HomeAnimationBG",
  setup() {
    const layer = ref<HTMLElement>(null);
    const shapeForth = ref<HTMLElement>(null);
    const videoShapeForth = ref<HTMLElement>(null);
    const videoContainerShapeForth = ref<HTMLElement>(null);
    const alfaShape = ref<HTMLElement>(null);
    const betaShape = ref<HTMLElement>(null);
    const gammaShape = ref<HTMLElement>(null);
    const alfaAnimationShape = computed(() => starAnimation(alfaShape.value));
    const betaAnimationShape = computed(() => charAnimation(betaShape.value));
    const gammaAnimationShape = computed(() =>
      gammaAnimation(gammaShape.value)
    );
    const animations = computed(() => {
      return {
        "shape-alfa": alfaAnimationShape.value,
        "shape-beta": betaAnimationShape.value,
        "shape-gamma": gammaAnimationShape.value,
      };
    });

    const animationsLoop = {
      "shape-alfa": alfaAnimationShape.value,
      "shape-beta": betaAnimationShape.value,
    };

    const mouseListener = (e) => {
      const x = e.x - document.documentElement.offsetWidth / 2;
      const y = e.y - layer.value.offsetHeight / 2;
      layer.value.style.transform = `translateX(-50%) rotateY(${
        x * 0.018
      }deg) rotateX(${y * -0.018}deg)`;
    };

    onMounted(() => {
      window.addEventListener("mousemove", mouseListener);

      animationsLoop["shape-beta"] = useShapeBounceAnimation(betaShape.value);
      animationsLoop["shape-alfa"] = useShapeRotateAnimation(alfaShape.value);
      animationsLoop["shape-beta"].play();
      animationsLoop["shape-alfa"].play();
    });
    onUnmounted(() => {
      window.removeEventListener("mousemove", mouseListener, false);
    });

    const playStarAnimation = (event) => {
      animations.value[event.currentTarget.id].play();
    };
    const toggleLoopAnimation = (event) => {
      if (animationsLoop[event.currentTarget.id].paused) {
        animationsLoop[event.currentTarget.id].play();
      } else {
        animationsLoop[event.currentTarget.id].pause();
        animationsLoop[event.currentTarget.id].seek(0);
      }
    };

    return {
      layer,
      shapeForth,
      videoShapeForth,
      videoContainerShapeForth,
      alfaShape,
      betaShape,
      gammaShape,
      playStarAnimation,
      toggleLoopAnimation,
    };
  },
});
</script>

<style lang="scss" scoped>
.star-container {
  position: absolute;
  transform: translate(-50%, -50%);
  mask-size: 71%;
  mask-repeat: no-repeat;
  mask-position: center;
  background: transparent;
  overflow: hidden;

  &-mask {
    transform-style: preserve-3d;
    perspective: 3000px;
    perspective-origin: center center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    mask-size: 104%;
    mask-repeat: no-repeat;
    mask-position: 50% -350px;
    background-color: transparent;
    z-index: 2;
    overflow: hidden;
  }
  video {
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover video {
    opacity: 1;
  }
}

.home-animation-bg {
  position: relative;
  transform-style: preserve-3d;
  perspective: 3000px;
  perspective-origin: center center;
  width: 100%;
  min-width: 1300px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center center;
  min-height: 800px;
  height: 72vw;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  overflow: hidden;

  svg {
    width: 100%;
    display: block;
    position: absolute;
  }

  #shape-1 {
    left: 4%;
    top: -32%;
    transform: translateZ(-250px);
    //z-index: 1;
  }
  #shape-2 {
    left: -6%;
    top: -38%;
    transform: translateZ(-500px);
    width: 116%;
  }
  #shape-3 {
    left: 26%;
    top: 36%;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    width: 7%;
  }
  #shape-4 {
    left: 43%;
    top: 0%;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    width: 9%;
  }
}

.star-container#shape-alfa {
  top: 16%;
  left: 63%;
  width: 420px;
  height: 420px;
  min-height: 420px;
  min-width: 420px;
  background-color: #5f73aa;
  transform-origin: top left;
}

.star-container#shape-beta {
  top: 10%;
  left: 25%;
  width: 780px;
  height: 780px;
  min-height: 780px;
  min-width: 780px;
  background-color: #5f73aa;
  mask-position: 50% 50%;
  transform-origin: 50% 50%;
}

.star-container#shape-gamma {
  top: 34%;
  left: 76%;
  width: 12%;
  height: 12%;
  min-height: 260px;
  min-width: 260px;
  background-color: #5f73aa;
  mask-position: 50% 50%;
}
#shape-5 {
  left: 55%;
  top: 27%;
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  width: 4%;
}

@media screen and (max-width: 1580px) {
  .star-container {
    &-mask {
      mask-position: 50% -280px;
    }
  }
  .star-container#shape-alfa {
    top: 16%;
    left: 69%;
    width: 200px;
    height: 200px;
    min-height: 260px;
    min-width: 260px;
  }

  .star-container#shape-beta {
    top: 10%;
    left: 25%;
    width: 520px;
    height: 520px;
    min-height: 520px;
    min-width: 520px;
  }

  .star-container#shape-gamma {
    top: 34%;
    left: 78%;
    width: 12%;
    height: 12%;
    min-height: 180px;
    min-width: 180px;
  }
}
</style>
